<div class="card text-center">
    <div class="card-header">
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <div class="card-body">
      <h5 class="card-title">&copy; Wonderlust Private Limited</h5>
      <a href="#">Privacy Policy</a>
    </div>
</div>
  </div>