<% layout("./layouts/boilerplate.ejs") %>
<body>
    <H3>all listings</H3>
    <form action="/listings/new" method="get">
    <button>create new listings</button>
    </form>

    <ul>
        <% for(listings of allListings) {%>
            <li><a href="/listings/<%= listings._id %>"><%= listings.title %></a></li>
        <%}  %>
    </ul>
</body>
