<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listings " method="post">
        <input type="text" name="listing[title]" placeholder="enter tilte">
        <textarea type="text" name="listing[description]" placeholder="enter description"></textarea>
        <input type="number" name="listing[price]"  placeholder="enter price" >
        <input type="text" name="listing[country]" placeholder="enter country">
        <input type="text" name="listing[image]" placeholder="enter image url">
        <input type="text" name="listing[location]" placeholder="enter location">
        <button>Add</button>

        
    </form>
</body>
</html>