
body{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.fa-compass{
    color: orangered;
    font-size: 3rem;
}
.card{
    border: none;
    margin-bottom: 2rem;
}
.card-img-top{
    height: 20rem;
    border-radius: 1rem;
}
.nav-link {
    color: black;
    font-size: 1.2rem;
}
.navbar{
    padding:  2rem 0rem;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
}
.card-header .fa-brands{
    font-size: 2rem;
    margin: 0rem 1rem;
    color: orangered;
}
.card-header .fa-brands:hover{
    color: rgba(255, 68, 0, 0.473);
}
.card-header a{
    text-decoration: none;
}
.form-label{
    font-size: 1.4rem;
}
.listing-details {
    font-family: ;
    margin: 0;
    padding: 0;
  }
.listing-details h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

.listing-details ul {
    list-style: none;
    padding: 0;
  }

.listing-details li {
    margin-bottom: 5px;
  }

.listing-details a {
    color: #007bff;
    text-decoration: none;
  }

.listing-details button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
.listing-details button:hover {
  background-color: #c82333;
  }
.listing-details img{
      height: 20rem;
      object-fit: cover;
      width: 50%;
      border-radius: 1rem;
  }
.review-card{
    border: 1px solid black;
}